doctype html

block vars

- title         = title         || config.meta.manifest.options.short_name;
- offline       = offline       || (offline === undefined) ? false : offline;  // Load HTML5 cache-manifest for this site ?
- webappCapable = webappCapable || offline;
- loadAllFirst  = loadAllFirst  || (loadAllFirst === undefined) ? true : loadAllFirst;  // Load any .js & .css dependency at the very first
- lang          = lang          || "en";

- ngApp         = ngApp         || undefined;
- ngController  = ngController  || undefined;

- viewport              = viewport              || {};
- viewport.width        = viewport.width        || config.meta.viewport.width;
- viewport.initialScale = viewport.initialScale || config.meta.viewport.initialScale;
- viewport.maximumScale = viewport.maximumScale || config.meta.viewport.maximumScale;
- viewport.userScalable = viewport.userScalable || config.meta.viewport.userScalable;

- ms            = ms            || {};
- ms.tileColor  = ms.tileColor  || config.meta.manifest.options.background_color  || "#FFF";
- ms.name       = ms.name       || config.meta.manifest.options.short_name        || title;
- ms.tooltip    = ms.tooltip    || config.meta.manifest.options.name              || ms.name;

- cacheManifestUrl    = '/' + config.meta.urlPrefix + '/' + config.meta.offlineCache.cacheManifestFile;
- androidManifestUrl  = '/' + config.meta.urlPrefix + '/' + config.meta.manifest.manifestFile;

- htmlAttrs                   = htmlAttrs                   || {};
- htmlAttrs.lang              = htmlAttrs.lang              || lang;
- htmlAttrs.manifest          = htmlAttrs.manifest          || (offline ? cacheManifestUrl : undefined);
- htmlAttrs["ng-app"]         = htmlAttrs["ng-app"]         || ngApp;
- htmlAttrs["ng-controller"]  = htmlAttrs["ng-controller"]  || ngController;

html&attributes(htmlAttrs)

  head
  
    if loadAllFirst
      link(rel='stylesheet', href='/dist/#{config.buildPaths.lib.stylesheetMinified}')
      link(rel='stylesheet', href='/dist/#{config.buildPaths.app.stylesheetMinified}')
      script(src='/dist/#{config.buildPaths.lib.javascriptMinified}')
      script(src='/dist/#{config.buildPaths.app.javascriptMinified}')
    
    title= title
    meta(charset="utf-8")
    meta(name="viewport" content="width=#{viewport.width}, initial-scale=#{viewport.initialScale}, maximum-scale=#{viewport.maximumScale}, user-scalable=#{viewport.userScalable}")
    
    link(rel="apple-touch-icon" href="/assets/icon/apple-touch-icon.png")
    link(rel="shortcut icon" href="/assets/icon/shortcut-icon.png")
    
    if webappCapable
      meta(name="apple-mobile-web-app-capable" content="yes")
      meta(name="mobile-web-app-capable" content="yes")
      link(rel="manifest")&attributes({href: androidManifestUrl})
      
    meta(name='msapplication-TileColor', content=ms.tileColor)
    meta(name='msapplication-TileImage', content='/assets/icon/large-icon.png')
    meta(name='msapplication-config', content='none')
    meta(name='application-name', content=ms.name)
    meta(name='msapplication-tooltip', content=ms.tooltip)
    meta(name='msapplication-square70x70logo', content='/assets/icon/pin-icon_70x70.png')
    meta(name='msapplication-square150x150logo', content='/assets/icon/pin-icon_150x150.png')
    meta(name='msapplication-square310x310logo', content='/assets/icon/pin-icon_310x310.png')
    meta(name='msapplication-wide310x150logo', content='/assets/icon/pin-icon_310x150.png')
    // See: https://msdn.microsoft.com/library/dn255024(v=vs.85).aspx

    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    
    if !loadAllFirst
      link(rel='stylesheet', href='/dist/#{config.buildPaths.lib.stylesheetMinified}')
      link(rel='stylesheet', href='/dist/#{config.buildPaths.app.stylesheetMinified}')
    
    block head
    
  body
    
    block body
    
    if !loadAllFirst
      script(src='/dist/#{config.buildPaths.lib.javascriptMinified}')
      script(src='/dist/#{config.buildPaths.app.javascriptMinified}')
    
    block views
    